.container{
    position: relative;
    text-align: center;
    margin: auto;
}
.main{
    margin-top: 30%;
}
.bank-logo{
    width: 150px;
    text-align: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.submit-logo{
    width: 100px;
    text-align: inherit;
    margin: auto;
}
img{
    width: 100%;
    margin: auto;
}
#btn{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width:756px) {
    .container{
        margin: auto;
    }
}