.main {
    list-style-type:none;
    /* margin:25px 0 0 0; */
    padding:0;
}

.main li {
    width:50px;
    height:34px;
    position:relative;
    display: inline-block;
}

.main label, .main input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align: center;

}

.main input[type="radio"] {
    opacity:0.011;
    z-index:100;

}

.main .value{
    margin-top: 10px;
}


.main input[type="radio"]:checked + label {
    background:#9b98d2;
}

.main label {
    margin-bottom: 0;
    padding-top: 5px;
    border: 1px solid #CCC;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    height: 34px;
    z-index: 90;
    background-color: #fff;

}

.main label:hover {
    background:#DDD;
}